<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoDropDown.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D44EE8671CD096F700857EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44EE87B1CD096F900857EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D44EE8861CD096F900857EB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
